# ==========================================================
# CONFIGURACIÓN DE ENTORNO (CACHALOT LAB)
# ==========================================================

# Puerto expuesto por el Nginx Reverse Proxy
HTTP_PORT=80

# Puerto y credenciales de PostgreSQL
DB_PORT=5432
DB_HOST=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=cachalot_db

# Configuración de sincronización de base de datos
DB_SYNCHRONIZE=true

# Configuración de réplicas de la API (Balanceo de carga Nginx)
API_REPLICAS=2

# Imagen Docker de la aplicación
APP_IMAGE=cachalotlab-nest:latest
